.correct-answer-wrapper {
  max-width: 764px;
}

.correct-header {
  padding-bottom: 28px;
}

.img-wrapper {
  object-fit: cover;
  padding: 24px;
}

.img-wrapper img {
    max-height: 100%;
    max-width: 100%;
}
