.container-box {
  max-width: 764px;
  padding-top: 24px;
}

.display-3 {
  line-height: 1 !important;
  margin: 0;
}

.box-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.box {
  width: 192px;
  height: 192px;
  background: #32a6f1;
  /* border-bottom: 3px solid #1abc9c; */
  border-radius: 50%;

  position: relative;
  top: 0;
  transition: top 0.3s;
  /* transition: background-color 0.5s ease; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-aswered {
  width: 192px;
  height: 192px;
  background: #1abc9c;
  /* border-bottom: 3px solid #1abc9c; */
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: block;
}

.link:hover {
  text-decoration: none;
}

.box:hover {
  background: #2980b9;
  top: -10px;
}

i {
  font-size: 64px;
  color: #ffffff;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hints-header {
  font-size: 78px;
  font-weight: 300;
}

.hint-header-wrapper {
  text-align: center;
}

.h-m-right {
  margin-right: 120px;
}

.h-m-left {
  margin-left: 120px;
}

@media only screen and (max-width: 690px) {
  .second {
    display: block;
  }

  .hints-header {
    font-size: 48px;
  }

  .h-m-left {
    margin-left: 0;
  }

  .h-m-right {
    margin-right: 0;
  }
}
