.container-box {
  max-width: 764px;
}

h1 {
  color: #34495e;
}

.display-3 {
  line-height: 1 !important;
  margin: 0;
}

.box-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.box {
  width: 192px;
  height: 192px;
  background: #34495e;
  border-bottom: 3px solid #1abc9c;
  border-radius: 12px;

  position: relative;
  top: 0;
  transition: top 0.3s;
  /* transition: background-color 0.5s ease; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-aswered {
  width: 192px;
  height: 192px;
  background: #1abc9c;
  border-bottom: 3px solid #1abc9c;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: block;
}

.link:hover {
  text-decoration: none;
}

.box:hover {
  background: #2c3e50;
  top: -10px;
}

i {
  font-size: 64px;
  color: #ffffff;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .second {
    display: block;
  }
}
