.header {
  font-size: 96px;
  text-shadow: 4px 4px 0px #1abc9c;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.magnifier {
  font-size: 92px;
  color: #2c3e50;
}

.question-wrapper {
  padding-top: 15%;
}

.question {
  font-size: 92px;
  color: #2c3e50;
}

.col2 {
  background: #34495e;
  color: #ffffff;
}

.copy-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
}

.copy-wrapper .lead {
  font-size: 24px;
}

.cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 64px;
  background: #34495e;
  margin-bottom: 24px;
  margin-top: 48px;
  border-radius: 4px;
}

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-wrapper:hover {
  background: #2c3e50;
}

.cta {
  text-align: center;
  min-width: 300px;
  font-size: 24px;
  color: white;
}

.cta:hover {
  color: #ecf0f1;
  text-decoration: none;
}
